SUPABASE_IMAGES_STORAGE_BUCKET_NAME=image-storage
NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:54322/postgres
DEPLOYMENT_MODE=development
NEXT_PUBLIC_SUPABASE_ANON_KEY=<your-key-here>
# Modify these if you want to use a local model
# OPENAI_BASE_URL=http://localhost:8000/v3
# LLM_MODEL_NAME="OpenVINO/Phi-3.5-mini-instruct-int4-ov"
OPENAI_API_KEY=<your-key-here>
TOGETHER_API_KEY=<your-key-here>
AIMLAPI_API_KEY=<your-key-here>
AUTH_SECRET=<auth-secret>
